<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <h4 style="position:absolute;top:0;left:0;padding:5px;z-index:99;">Message:&nbsp; {{checkMsg}}</h4>
        <div class="dash-container">
            <div class="maze-view">
                <canvas id="canvas" width="768" height="512" style="background-color: #eee"></canvas>
            </div>
            <canvas id="2DCanvas" width="768" height="512" style="position:absolute;top:0;right:0;border:2px solid blue;width:30%;height:30%;background-color:white;z-index:999;"></canvas>
            <canvas id="3DCanvas" width="768" height="512" style="position:absolute;top:0;left:0;border:1px solid #000000;height:50%;"></canvas>
            <div class="info-view">
                <ion-item><p style="margin-top:-15px;font-weight:bold;">Current State:</p>
                    <p style="margin-bottom:-15px;">{{currentState}}</p></ion-item>
            
                <!--
                <ion-toggle toggle-class="toggle-calm" ng-model="view.enable" ng-change="onViewChanged()" ng-checked="view.enable">
                    Enable 3D View
                </ion-toggle>
-->
                <ion-toggle ng-model="isAuto" toggle-class="toggle-calm" ng-change="onToggleChange(isAuto)"><span>Auto-update</span>
                </ion-toggle>
                    <button class="button button-small button-block button-calm" ng-disabled="isAuto" style="margin-top:0px;" ng-click="manualUpdate()">Manual Update</button>
            </div>
            <div class="info-view">
                <ion-item>
                    <div class="row" style="margin-top:-10px;">
                        <div class="col col-center">
                            <label class="item item-input">
                                <span class="input-label">X:</span>
                                <input ng-model="x.value" type="number" step="1">
                            </label>
                        </div>
                        <div class="col col-center">
                            <label class="item item-input">
                                <span class="input-label">Y:</span>
                                <input ng-model="y.value" type="number" step="1">
                            </label>
                        </div>
                    </div>
                    <button ng-click="setLoc()" class="button button-small button-block button-royal">Set Start</button>
                </ion-item>
            </div>
<!--
            <div class="row">
                <div class="col col-center">
                    <ion-toggle ng-model="isAuto" toggle-class="toggle-calm"><span>Auto-update</span>
                    </ion-toggle>
                </div>
                <div class="col col-center">
                    <button class="button button-block button-calm" ng-disabled="isAuto">Manual Update</button>
                </div>
            </div>
-->
            <div class="controller-view">
                <div class="row">
                    <div class="col">
                        <button ng-click="sendStr(0)" class="button button-small button-block button-positive">F1</button>
                    </div>
                    <div class="col">
                        <button ng-click="sendStr(1)" class="button button-small button-block button-positive">F2</button>
                    </div>
                    <div class="col">
                        <button class="button button-small button-block button-positive" ng-click="reconfigure()">Reconfigure</button>
                    </div>
                </div>
                <div class="row" style="margin-top:-25px!important;">
                    <div class="col col-60">
                        <div class="row">
                            <div class="col col-33 col-offset-33">
                                <button ng-click="forward()" class="button button-block button-calm ion-arrow-up-a"></button>
                            </div>
                        </div>
                        <div class="row" style="margin-top:-25px!important;">
                            <div class="col col-33">
                                <button ng-click="left()" class="button button-block button-calm ion-arrow-left-a"></button>
                            </div>
                            <div class="col col-33">
                                <button ng-click="backward()" class="button button-block button-calm ion-arrow-down-a"></button>
                            </div>
                            <div class="col col-33">
                                <button ng-click="right()" class="button button-block button-calm ion-arrow-right-a"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-40">
                        <button class="button button-block button-small button-calm" ng-click="startExplore()">Start Explore</button>
                        <button class="button button-block button-small button-balanced" ng-click="startShortest()">Start Shortest</button>
                        <button class="button button-block button-small button-positive">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>